<div class="email" style="font-size": 12px; font-weight: bold; margin: 20px>
   
    <p>For any questions contact us by email: </p>
    
    <%= mail_to 'elnuratek@gmail.com', 
                'elnuratek@gmail.com',
                { style: 'color: #B00100;'} 
    %>
<div>