/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.vertical-center {
  display: flex;
  align-items: center;
}

.deleteAction {
cursor: pointer;
}

.deleteAction:hover {
  color: #b10100
}